<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col text-center">
          <h1>Hi Admin, berikut datanya.</h1>
            <p>Invoice Number : <b>INV-xxx</b></p>
            <p>Name : <b>Alif</b></p>
            <p>E-mail : <b>m.alif@doku.com</b></p>
            <p>Phone : <b>082222</b></p>
            <p>Layanan : <b>Netflix</b></p>
            <p>Masa Berakhir : <b>3 Desember 2029</b></p>
            <p>Tanggal Transaksi : <b>11 Agustuh 2023</b></p>
          </div>
        </div>
    </div>
</body>
</html>