<%- include('layouts/header') %>

  <section class="py-5 container">
    <div class="row py-lg-5">
        <div class="col">
            <svg class="bi-home my-1 theme-icon-active" width="600" height="300"><use href="#one"></use></svg>
          </div>
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><b><strong>Ngahiji.</strong></b></h1>
        <p class="lead text-body-secondary">Dengan <b><strong>Naghiji(bersatu)</strong></b> banyak manfaat patungan layanan premium, menikmati layanan dengan tenang tidak takut account keluar sendiri. Ngahiji layanan premium pasti</p>
        <p>
        <div class="animated-info">
            <span class="animated-item"><b>Murah.</b></span>
            <span class="animated-item"><b>Aman.</b></span>
            <span class="animated-item"><b>Terpercaya.</b></span>
        </div>
        </p>
        </br>
        </br>
        <p>
          <a href="#layanan" class="btn btn-outline-warning my-2"> Cek Layanan.</a>
        </p>
      </div>
    </div>
  </br>
</br>
</br>
  </section>
  <!-- manfaat. -->
  <section id="journey">
    <div class="container text-center mt-5 py-5">
  <div class="row text-center mt-3">
    <div class="col">
        <h4 class="fw-light"><strong>#Murah</strong></h4>
        <p class="lead text-body-secondary">Hemat 72%.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Aman</strong></h4>
        <p class="lead text-body-secondary">Transaksi aman.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Terpercaya</strong></h4>
        <p class="lead text-body-secondary">Anti logout bergaransi.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Admin 24/7</strong></h4>
        <p class="lead text-body-secondary">Admin ramah selalu standby kalau gak ketiduran.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Privacy</strong></h4>
        <p class="lead text-body-secondary">Privasi terjamin.</p>
    </div>
    <div class="col">
        <h4 class="fw-light"><strong>#Reminder</strong></h4>
        <p class="lead text-body-secondary">Pengingat pembayaran.</p>
    </div>
    </div>
</div>
  </section>
  <!-- layanan. -->
  <section id="layanan">
  <div class="album py-5">
    <div class="container">
        <h1 class="text-center mb-5"><b>Layanan.</b></h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="120" height="120" x="37%" y="22%"><use href="#netflix"></use></svg></svg>
            <div class="card-body">
                <h3>Netflix.</h3>
              <p class="lead text-body-secondary"><b><strong>Rp51.000</strong></b> /bulan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/netflix">
                  <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                </div>
                <a class="btn" href="/skema-harga"><small class="text-body-secondary">lihat skema harga.</small></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="200" height="150" x="28%" y="16%"><use href="#disney"></use></svg></svg>
            <div class="card-body">
                <h3>Disney+ Hotstar.</h3>
                <p class="lead text-body-secondary"><b><strong>Rp26.000</strong></b> /bulan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/disney">
                        <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                      </div>
                      <a class="btn" href="/skema-harga"><small class="text-body-secondary">lihat skema harga.</small></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="150" height="120" x="30%" y="25%"><use href="#youtube"></use></svg></svg>
              <div class="card-body">
                <h3>Youtube Premium.</h3>
                <p class="lead text-body-secondary"><b><strong>Rp27.000</strong></b> /bulan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/youtube">
                        <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                      </div>
                      <a class="btn" href="/skema-harga"><small class="text-body-secondary">lihat skema harga.</small></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="120" height="120" x="37%" y="23%"><use href="#spotify"></use></svg></svg>
              <div class="card-body">
                <h3>Spotify.</h3>
                <p class="lead text-body-secondary"><b><strong>Rp53.000</strong></b> /3bulan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/spotify">
                        <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                      </div>
                      <a class="btn" href="/skema-harga"><small class="text-body-secondary">lihat skema harga.</small></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="220" height="120" x="26%" y="25%"><use href="#primevideo"></use></svg></svg>
              <div class="card-body">
                <h3>Prime Video.</h3>
                <p class="lead text-body-secondary"><b><strong>Rp26.300</strong></b> /bulan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/primevideo">
                        <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                      </div>
                      <a class="btn" href="/skema-harga"><small class="text-body-secondary">lihat skema harga.</small></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="200" height="150" x="25%" y="20%"><use href="#applemusic"></use></svg></svg>
              <div class="card-body">
                <h3>Apple Music.</h3>
                <p class="lead text-body-secondary"><b><strong>Rp20.000</strong></b> /bulan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/applemusic">
                        <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                      </div>
                      <a class="btn" href="/skema-harga"><small class="text-body-secondary">lihat skema harga.</small></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="150" height="150" x="35%" y="18%"><use href="#canva"></use></svg></svg>
              <div class="card-body">
                <h3>Canva.</h3>
                <p class="lead text-body-secondary"><b><strong>Rp37.000</strong></b> /bulan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/canva">
                        <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                      </div>
                      <a class="btn" href="/skema-harga"><small class="text-body-secondary">lihat skema harga.</small></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="200" height="120" x="28%" y="25%"><use href="#hbo"></use></svg></svg>
              <div class="card-body">
                <h3>HBO GO.</h3>
                <p class="lead text-body-secondary"><b><strong>Rp38.300</strong></b> /bulan</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="/checkout/hbo">
                        <button type="button" class="btn btn-outline-warning">Pesan.</button></a>
                      </div>
                      <a class="btn" href="/skema-harga"><small class="text-body-secondary">lihat skema harga.</small></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="375" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Payment Channel Credit Card" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="60%" fill="#eceeef" dy=".3em" font-size="40">SOON.</text><text x="50%" y="45%" fill="#eceeef" dy=".3em" font-size="40">COMING</text></svg>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="cara-pesan">
      <div class="container text-center mt-5 py-5">
        <h1 class="text-center mb-5"><b>Cara Pesan.</b></h1>
    <div class="row text-center mt-3">
      <div class="col">
          <h4 class="fw-light"><strong>#1</strong></h4>
          <p class="lead text-body-secondary">Pilih Layanan.</p>
      </div>
      <div class="col">
          <h4 class="fw-light"><strong>#2</strong></h4>
          <p class="lead text-body-secondary">Lakukan Pembayaran.</p>
      </div>
      <div class="col">
          <h4 class="fw-light"><strong>#3</strong></h4>
          <p class="lead text-body-secondary">Menunggu Proses.</p>
      </div>
      <div class="col">
          <h4 class="fw-light"><strong>#4</strong></h4>
          <p class="lead text-body-secondary">Pesanan Diterima.</p>
      </div>
      <div class="col">
          <h4 class="fw-light"><strong>#5</strong></h4>
          <p class="lead text-body-secondary">Happy To Use!.</p>
      </div>
      </div>
      <p class="lead text-body-secondary mt-5">***************************</p>
  </div>
    </section>
    <section class="py-5 container text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light"><b><strong>#Ngahiji.</strong></b></h1>
          <div class="animated-info">
              <span class="animated-item"><b>#Murah.</b></span>
              <span class="animated-item"><b>#Aman.</b></span>
              <span class="animated-item"><b>#Terpercaya.</b></span>
          </div>
          </p>
          </br>
          </br>
          <p>
            <a href="https://api.whatsapp.com/send/?phone=6288222361328&text=Halo+ka%2C+mau+nanya+nanya+perihal+ngahiji.&type=phone_number&app_absent=0" class="btn btn-outline-warning">Tanya CS.</a>
          </p>
        </div>
      </div>
    </section>
    </div>
  </div>

  <%- include('layouts/footer') %>