<%- include('layouts/header') %>
<link href="/assets/css/checkout.css" rel="stylesheet">
<section>
    <div class="container">
        <main>
          <div class="py-5 text-center">
            <h2 class="mt-3">Skema Harga Ngahiji.</h2>
            <p class="lead text-body-secondary">-----------------------------</p>
          </div>
      
          <div class="scheme-price__info" data-v-63147605>
            Dengan konsep patungan, melalui Ngahiji harga Paket Grup dari
            masing-masing provider akan dibagi rata per jumah member dalam suatu
            grup. Sedangkan harga final yang dibayarkan oleh member adalah harga
            patungan yang sudah termasuk biaya admin Ngahiji.
          </div> <br data-v-63147605> <div class="scheme-price__info" data-v-63147605><b data-v-63147605>Perlu diperhatikan</b> bahwa harga paket dari provider bisa saja
            tidak bulat, sehingga Ngahiji melakukan pembulatan harga patungan
            dengan tujuan untuk memudahkan member dalam melihat nominal yang akan
            ditransfer. Hasil pembulatan, diskon, pemotongan harga dan/atau
            benefit lain yang mempengaruhi harga dari provider menjadi hak mutlak
            dan masuk sebagai keuntungan untuk Ngahiji. Dengan berlangganan
            melalui Ngahiji, member dinyatakan sudah mengerti dan setuju dengan
            skema harga yang sudah ditetapkan.
          </div>
    </div>
</section>
<section id="layanan">
    <div class="album py-5">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3 mb-3">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="120" height="120" x="37%" y="18%"><use href="#netflix"></use></svg> <text x="50%" y="85%" fill="#eceeef" dy=".3em" font-size="30">Netflix.</text></svg>
              <div class="card-body">
                  <img src="/assets/image/product/skema/netflix.png" alt="" width="350px" height="180px" srcset="" style="display:block; margin:auto;">
                  <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                  <div class="row">
                  <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Rincian Harga.</b></strong></h6>
                  <div class="col">
                    Harga Paket Premium Netflix
                  </div>
                  <div class="col right">
                    Rp186.000
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      Jumlah member
                    </div>
                    <div class="col right">
                      4
                    </div>
                  </div>
                <div class="row">
                <div class="col">
                    Harga Patungan
                </div>
                <div class="col right">
                    Rp186.000 ÷ 4 = Rp46.500
                </div>
                </div>
                <div class="row">
                    <div class="col">
                        Biaya Admin Ngahiji
                    </div>
                    <div class="col right">
                        Rp5.500
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                       <b>Harga Paket Bulanan</b>
                    </div>
                    <div class="col right">
                       <b>Rp52.000</b>
                    </div>
                </div>
                <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Skema Berlangganan.</b></strong></h6>
                <ol>
                    <li>
                        Ngahiji membuat akun dan membeli Paket Premium di Netflix.
                    </li>
                    <li>
                        Dalam 1 akun tersebut, Ngahiji membuat profile sebanyak 4.
                    </li>
                    <li>
                        Profile disesuaikan dengan nama masing-masing member.
                    </li>
                    <li>
                        Profile dilengkapi PIN yang berbeda-beda.
                    </li>
                    <li>
                        Akun dishare <b>Hanya</b> ke 4 member dalam 1 grup.
                    </li>
                </ol>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="200" height="150" x="28%" y="10%"><use href="#disney"></use></svg> <text x="50%" y="85%" fill="#eceeef" dy=".3em" font-size="30">Disney+ Hotstar.</text></svg>
                <div class="card-body">
                    <img src="/assets/image/product/skema/disney.png" alt="" width="350px" height="180px" srcset="" style="display:block; margin:auto;">
                    <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                    <div class="row">
                    <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Rincian Harga.</b></strong></h6>
                    <div class="col">
                      Harga Paket Disney+ Hotstar
                    </div>
                    <div class="col right">
                      Rp39.000
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        Jumlah member
                      </div>
                      <div class="col right">
                        2
                      </div>
                    </div>
                  <div class="row">
                  <div class="col">
                      Harga Patungan
                  </div>
                  <div class="col right">
                      Rp39.000 ÷ 2 = Rp19.000
                  </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          Biaya Admin Ngahiji
                      </div>
                      <div class="col right">
                          Rp6.500
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                         <b>Harga Paket Bulanan</b>
                      </div>
                      <div class="col right">
                         <b>Rp26.000</b>
                      </div>
                  </div>
                  <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                  <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Skema Berlangganan.</b></strong></h6>
                  <ol>
                      <li>
                        Ngahiji membuat akun dan membeli Paket Disney+ Hotstar.
                      </li>
                      <li>
                        Akun dishare <b>Hanya</b> ke 2 member dalam 1 grup.
                      </li>
                      <li>
                        Member yang telah join ke grup dapat menikmati fitur Premium selama 1 bulan.
                      </li>
                  </ol>
                  </div>
                </br>
                </br>
                </br>
              </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3 mb-3">
          <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="150" height="120" x="33%" y="18%"><use href="#youtube"></use></svg> <text x="50%" y="85%" fill="#eceeef" dy=".3em" font-size="30">Youtube Premium.</text></svg>
              <div class="card-body">
                  <img src="/assets/image/product/skema/youtube.png" alt="" width="350px" height="180px" srcset="" style="display:block; margin:auto;">
                  <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                  <div class="row">
                  <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Rincian Harga.</b></strong></h6>
                  <div class="col">
                    Harga Paket Premium Youtube
                  </div>
                  <div class="col right">
                    Rp99.000
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      Harga Setelah pajak 11%
                    </div>
                    <div class="col right">
                      Rp.109.809
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      Jumlah member
                    </div>
                    <div class="col right">
                      5
                    </div>
                </div>
                <div class="row">
                <div class="col">
                    Harga Patungan
                </div>
                <div class="col right">
                    Rp109.890 ÷ 5 = Rp21.978
                </div>
                </div>
                <div class="row">
                    <div class="col">
                        Biaya Admin Ngahiji
                    </div>
                    <div class="col right">
                        Rp5.022
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                       <b>Harga Paket Bulanan</b>
                    </div>
                    <div class="col right">
                       <b>Rp27.000</b>
                    </div>
                </div>
                <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Skema Berlangganan.</b></strong></h6>
                <ol>
                    <li>
                        Ngahiji membuat akun dan membeli Paket Premium di Youtube.
                    </li>
                    <li>
                        Ngahiji bertindak sebagai user Host dalam grup.
                    </li>
                    <li>
                        Member membuat/menyediakan akun masing-masing.
                    </li>
                    <li>
                        Ngahiji mengundang 5 member untuk join 1 grup Premium.
                    </li>
                    <li>
                        Member yang telah join ke grup dapat menikmati firut Premium.
                    </li>
                </ol>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="135" height="125" x="35%" y="15%"><use href="#spotify"></use></svg> <text x="50%" y="85%" fill="#eceeef" dy=".3em" font-size="30">Spotify.</text></svg>
                <div class="card-body">
                    <img src="/assets/image/product/skema/spotify.png" alt="" width="350px" height="180px" srcset="" style="display:block; margin:auto;">
                    <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                    <div class="row">
                    <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Rincian Harga.</b></strong></h6>
                    <div class="col">
                      Harga Paket Premium 3 Bulan
                    </div>
                    <div class="col right">
                      Rp261.000
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        Jumlah member
                      </div>
                      <div class="col right">
                        6
                      </div>
                    </div>
                  <div class="row">
                  <div class="col">
                      Harga Patungan
                  </div>
                  <div class="col right">
                    Rp261.000 ÷ 6 = Rp43.500
                  </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          Biaya Admin Ngahiji
                      </div>
                      <div class="col right">
                          Rp9.000
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                         <b>Harga Paket Bulanan</b>
                      </div>
                      <div class="col right">
                         <b>Rp53.0000</b>
                      </div>
                  </div>
                </br>
                  <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                  <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Skema Berlangganan.</b></strong></h6>
                  <ol>
                      <li>
                        Ngahiji membuat akun dan membeli Paket Premium di Spotify.
                      </li>
                      <li>
                        Ngahiji bertindak sebagai user Host dalam grup.
                      </li>
                      <li>
                        Member membuat/menyediakan akun masing-masing.
                      </li>
                      <li>
                        Ngahiji mengundang 6 member untuk join 1 grup Premium.
                      </li>
                      <li>
                        Member yang telah join ke grup dapat menikmati fitur Premium.
                      </li>
                  </ol>
                  </div>
              </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3 mb-3">
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="220" height="120" x="27%" y="18%"><use href="#primevideo"></use></svg> <text x="50%" y="85%" fill="#eceeef" dy=".3em" font-size="30">Prime Video.</text></svg>
              <div class="card-body">
                  <img src="/assets/image/product/skema/primevideo.png" alt="" width="350px" height="180px" srcset="" style="display:block; margin:auto;">
                  <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                  <div class="row">
                  <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Rincian Harga.</b></strong></h6>
                  <div class="col">
                    Harga Paket Premium Prime Video Bulanan
                  </div>
                  <div class="col right">
                    Rp79.000
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      Jumlah member
                    </div>
                    <div class="col right">
                      4
                    </div>
                  </div>
                <div class="row">
                <div class="col">
                    Harga Patungan
                </div>
                <div class="col right">
                    Rp79.000 ÷ 4 = Rp19.750
                </div>
                </div>
                <div class="row">
                    <div class="col">
                        Biaya Admin Ngahiji
                    </div>
                    <div class="col right">
                        Rp6.550
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                       <b>Harga Paket Bulanan</b>
                    </div>
                    <div class="col right">
                       <b>Rp26.300</b>
                    </div>
                </div>
                <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Skema Berlangganan.</b></strong></h6>
                <ol>
                    <li>
                        Ngahiji membuat akun dan membeli Paket Premium Prime Video.
                    </li>
                    <li>
                        Dalam 1 akun tersebut, Ngahiji membuat 4 profile.
                    </li>
                    <li>
                        Akun dishare <b>Hanya</b> ke 4 member dalam 1 grup.
                    </li>
                    <li>
                        Member yang telah join ke grup dapat menikmati fitur Premium Amazon Prime Video sesuai dengan durasi berlangganan.
                    </li>
                </ol>
                </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="200" height="150" x="28%" y="10%"><use href="#applemusic"></use></svg> <text x="50%" y="85%" fill="#eceeef" dy=".3em" font-size="30">Apple Music.</text></svg>
                <div class="card-body">
                    <img src="/assets/image/product/skema/applemusic.png" alt="" width="350px" height="180px" srcset="" style="display:block; margin:auto;">
                    <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                    <div class="row">
                    <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Rincian Harga.</b></strong></h6>
                    <div class="col">
                        Paket Premium Apple Music Bulanan
                    </div>
                    <div class="col right">
                      Rp85.000
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        Jumlah member
                      </div>
                      <div class="col right">
                        6
                      </div>
                    </div>
                  <div class="row">
                  <div class="col">
                      Harga Patungan
                  </div>
                  <div class="col right">
                      Rp85.000 ÷ 6 = Rp14.167
                  </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          Biaya Admin Ngahiji
                      </div>
                      <div class="col right">
                          Rp5.833
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                         <b>Harga Paket Bulanan</b>
                      </div>
                      <div class="col right">
                         <b>Rp20.000</b>
                      </div>
                  </div>
                  <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                  <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Skema Berlangganan.</b></strong></h6>
                  <ol>
                      <li>
                        Ngahiji membuat akun dan membeli Paket Premium Apple Music.
                      </li>
                      <li>
                        Ngahiji bertindak sebagai user Host dalam grup.
                      </li>
                      <li>
                        Akun dishare <b>Hanya</b> ke 6 member dalam 1 grup.
                      </li>
                      <li>
                        Member yang telah join ke grup dapat menikmati fitur Premium selama 1 bulan.
                      </li>
                  </ol>
                  </div>
                </br>
              </div>
          </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3 mb-3">
            <div class="col">
              <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="220" height="120" x="27%" y="18%"><use href="#hbo"></use></svg> <text x="50%" y="85%" fill="#eceeef" dy=".3em" font-size="30">HBO GO.</text></svg>
              <div class="card-body">
                  <img src="/assets/image/product/skema/hbo.png" alt="" width="350px" height="180px" srcset="" style="display:block; margin:auto;">
                  <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                  <div class="row">
                  <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Rincian Harga.</b></strong></h6>
                  <div class="col">
                    Paket Premium User Reguler
                  </div>
                  <div class="col right">
                    Rp66.000
                  </div>
                </div>
                <div class="row">
                    <div class="col">
                      Harga Setelah pajak 11%
                    </div>
                    <div class="col right">
                      Rp.66.600
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                      Jumlah member
                    </div>
                    <div class="col right">
                      2
                    </div>
                  </div>
                <div class="row">
                <div class="col">
                    Harga Patungan
                </div>
                <div class="col right">
                    Rp66.600 ÷ 2 = Rp33.300
                </div>
                </div>
                <div class="row">
                    <div class="col">
                        Biaya Admin Ngahiji
                    </div>
                    <div class="col right">
                        Rp5.550
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                       <b>Harga Paket Bulanan</b>
                    </div>
                    <div class="col right">
                       <b>Rp38.300</b>
                    </div>
                </div>
                <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Skema Berlangganan.</b></strong></h6>
                <ol>
                    <li>
                        Ngahiji membuat akun dan membeli Paket Premium di HBO GO.
                    </li>
                    <li>
                        Ngahiji bertindak sebagai user Host dalam grup.
                    </li>
                    <li>
                        Akun dishare <b>Hanya</b> ke 2 member dalam 1 grup.
                    </li>
                    <li>
                        Member yang telah join ke grup dapat menikmati fitur Premium selama 1 bulan.
                    </li>
                </ol>
                </div>
                </br>
            </br>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Netflix" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><svg class="bi my-1 theme-icon-active" width="200" height="150" x="28%" y="10%"><use href="#canva"></use></svg> <text x="50%" y="85%" fill="#eceeef" dy=".3em" font-size="30">Canva.</text></svg>
                <div class="card-body">
                    <img src="/assets/image/product/skema/canva.png" alt="" width="350px" height="180px" srcset="" style="display:block; margin:auto;">
                    <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                    <div class="row">
                    <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Rincian Harga.</b></strong></h6>
                    <div class="col">
                        Paket Canva Teams Bulanan
                    </div>
                    <div class="col right">
                      Rp124.000
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        Jumlah member
                      </div>
                      <div class="col right">
                        4
                      </div>
                    </div>
                  <div class="row">
                  <div class="col">
                      Harga Patungan
                  </div>
                  <div class="col right">
                      Rp124.000 ÷ 4 = Rp31.000
                  </div>
                  </div>
                  <div class="row">
                      <div class="col">
                          Biaya Admin Ngahiji
                      </div>
                      <div class="col right">
                          Rp6.000
                      </div>
                  </div>
                  <div class="row">
                      <div class="col">
                         <b>Harga Paket Bulanan</b>
                      </div>
                      <div class="col right">
                         <b>Rp37.000</b>
                      </div>
                  </div>
            </br>
                  <p class="lead text-body-secondary text-center mb-0">----------------------------------------</p>
                  <h6 class="lead text-body-secondary mb-1 mt-0"> <strong><b> Skema Berlangganan.</b></strong></h6>
                  <ol>
                      <li>
                        Ngahiji membuat akun dan membeli Paket Teams Canva.
                      </li>
                      <li>
                        Ngahiji bertindak sebagai user Host dalam grup.
                      </li>
                      <li>
                        Member membuat/menyediakan akun masing-masing.
                      </li>
                      <li>
                        Seakun mengundang 4 member untuk join 1 grup Premium.
                      </li>
                      <li>
                        Member yang telah join ke grup dapat menikmati fitur Premium selama 1 bulan.
                      </li>
                  </ol>
                  </div>
              </div>
          </div>
        </div>
          </div>
        </div>
      </section>


<%- include('layouts/footer') %>