<%- include('layouts/header') %>
<div class="container py-5">
<h3 class="text-3xl" data-v-cb558144>Syarat dan Ketentuan Penggunaan</h3> <h5 class="font-bold text-xl" style="margin-bottom: 30px" data-v-cb558144>
    Terakhir diperbaharui: 10 Agustus 2022
  </h5> <div data-v-cb558144><b data-v-cb558144>PENTING.</b> Anda dimohon untuk membaca Syarat dan Ketentuan Penggunaan
    (“Ketentuan Penggunaan”) ini sebelum menggunakan layanan yang disediakan
    di Platform Ngahiji.
  </div> <div data-v-cb558144>
    Dengan melakukan pendaftaran dan/atau menggunakan layanan berlangganan
    bersama yang disediakan di Platform Ngahiji, Anda setuju bahwa Anda
    telah membaca, memahami, mengetahui, menyetujui dan menerima seluruh
    informasi syarat, dan ketentuan penggunaan layanan yang terdapat dalam
    Ketentuan Penggunaan ini. Ketentuan Penggunaan ini merupakan suatu
    perjanjian yang sah antara PT. Ngahiji Teknologi (“Kami”) dan Anda
    terkait tata cara dan persyaratan penggunaan Platform Ngahiji yang
    berlaku antara Anda dan Kami.
  </div> <div data-v-cb558144><h5 class="text-xl mb-2" data-v-cb558144>Ketentuan Umum</h5> <ul class="list-outside pl-8 list-decimal" data-v-cb558144><li data-v-cb558144>
        Platform Ngahiji (Website) ini merupakan milik PT.
        Ngahiji Teknologi. Kami bekerja sama dengan pihak ketiga (“Mitra
        Kami”) untuk mengembangkan, menambah dan/atau meningkatkan fitur serta
        fungsi dalam Aplikasi, dan/atau menyediakan produk dan/atau layanan.
      </li> <li data-v-cb558144>
        Platform Ngahiji digunakan untuk memberikan layanan berlangganan
        bersama dan/atau membeli jasa/barang secara grouping dengan tujuan
        mendapatkan fitur atau benefit premium dengan biaya yang lebih
        terjangkau, administrasi yang lebih mudah, reminder pembayaran di
        setiap bulannya yang lebih terorganisir dan menemukan teman sevisi
        untuk menikmati sebuah layanan premium.
      </li> <li data-v-cb558144>
        Platform Ngahiji sudah melakukan riset dan percobaan terlebih dahulu
        sebelum menyediakan layanan ke publik.
      </li> <li data-v-cb558144>
        Kami memiliki kebijakan sendiri dan menyeluruh untuk menerima atau
        menunda atau menolak permintaan Anda atas layanan.
      </li></ul></div> <div data-v-cb558144><h5 class="text-xl mb-2" data-v-cb558144>Kewajiban Pengguna</h5> <div data-v-cb558144>
      Kami menyediakan beberapa layanan yang sudah memiliki aturan penggunaan
      berdasarkan ketentuan yang diterbitkan oleh masing-masing provider.
      Dengan menggunakan layanan yang ada di Platform Ngahiji, artinya Anda
      berkewajiban penuh untuk mengikuti aturan yang diterbitkan oleh
      masing-masing provider yang telah tersedia di Platform Ngahiji.
    </div>
    <div data-v-cb558144>
        Ada beberapa ketentuan layanan pengguna untuk masing-masing provider
        yang sudah disediakan di Ngahiji diantaranya sebagai berikut.
      </div> <ul class="list-outside pl-8 list-decimal" data-v-cb558144><li data-v-cb558144>
          Netflix, bisa dilihat pada tautan berikut
          <a href="http://netflix.com/" class="text-blue-500" data-v-cb558144>ini</a>.
        </li> <li data-v-cb558144>
          Spotify, bisa dilihat pada tautan berikut
          <a href="http://spotify.com/" class="text-blue-500" data-v-cb558144>ini</a>.
        </li> <li data-v-cb558144>
          Youtube, bisa dilihat pada tautan berikut
          <a href="http://youtube.com/" class="text-blue-500" data-v-cb558144>ini</a>.
        </li> <li data-v-cb558144>
          Gramedia, bisa dilihat pada tautan berikut
          <a href="http://gramedia.com/" class="text-blue-500" data-v-cb558144>ini</a>.
        </li> <li data-v-cb558144>
          Canva, bisa dilihat pada tautan berikut
          <a href="http://canva.com/" class="text-blue-500" data-v-cb558144>ini</a>.
        </li></ul> <div data-v-cb558144>
        Anda juga berkewajiban secara penuh untuk mengikuti segala macam aturan
        yang telah ditentukan oleh Ngahiji.
      </div></div>
      <div data-v-cb558144><h5 class="text-xl mt-4" data-v-cb558144>Pengakhiran Masa Berlangganan</h5> <div data-v-cb558144>
        Kami berhak secara penuh untuk melakukan pengakhiran masa berlangganan
        Anda ke pihak provider jika Anda masuk ke beberapa opsi berikut.
      </div> <ul class="list-outside pl-8 list-decimal" data-v-cb558144><li data-v-cb558144>
          Tidak melakukan pembayaran ke pihak Ngahiji melewati tanggal
          pembayaran yang sudah ditetapkan oleh Ngahiji berdasarkan tanggal
          mulai Anda berlangganan provider terkait.
        </li> <li data-v-cb558144>
          Tidak bisa dihubungi oleh admin dan/atau customer service Ngahiji
          dalam rangka melunasi tagihan untuk bulan berikutnya.
        </li> <li data-v-cb558144>
          Melakukan pelanggaran baik itu pelanggaran terhadap ketentuan provider
          terkait maupun pelanggaran terhadap ketentuan yang dibuat oleh
          Ngahiji.
        </li> <li data-v-cb558144>
          Melakukan tindakan berupa perkataan kasar, penghinaan, pengancaman dan
          tindak kekerasan kepada salah satu Tim Ngahiji, baik secara langsung
          maupun tidak langsung.
        </li> <li data-v-cb558144>
          Melakukan pencemaran nama baik atas pelayanan Ngahiji tanpa
          sebelumnya ada itikad baik untuk menyelesaikan masalah yang dimiliki
          langsung ke Pihak Ngahiji.
        </li></ul></div> <div data-v-cb558144><h5 class="text-xl mb-2" data-v-cb558144>Aturan dan Larangan Pengguna</h5> <div data-v-cb558144>
        Kami membuat aturan yang harus diterapkan oleh setiap pengguna Platform
        Ngahiji yang bertujuan untuk menjaga kenyamanan masing-masing pengguna
        yaitu sebagai berikut.
      </div> <ul class="list-outside pl-8 list-decimal" data-v-cb558144><li data-v-cb558144>
          Anda dihimbau untuk mengakses sesuai dengan profil yang sudah
          diberikan oleh Ngahiji dan menonton/streaming maksimum 1 device jika
          menggunakan layanan berlangganan bersama provider Netflix.
        </li> <li data-v-cb558144>
          Anda dihimbau untuk menggunakan email pribadi untuk menerima
          invitation dari Ngahiji untuk layanan berlangganan bersama provider
          Spotify, Youtube, Canva dan provider lain yang
          menggunakan konsep bergabung yang sama.
        </li></ul> <div data-v-cb558144>
        Kami membuat larangan ketika sedang menggunakan layanan yang ada di
        Platform Ngahiji. Diantaranya adalah sebagai berikut.
      </div> <ul class="list-outside pl-8 list-decimal" data-v-cb558144><li data-v-cb558144>
          Dilarang untuk menyebarkan informasi akun dan/atau informasi berupa
          link invitation dan/atau informasi berupa alamat User Host yang
          diberikan oleh Ngahiji kepada Anda jika anda menggunakan layanan di
          Platform Ngahiji.
        </li> <li data-v-cb558144>
          Dilarang mengubah informasi akun yang telah diberikan kepada Anda,
          baik itu password, profile atau informasi apapun di akun tersebut.
        </li> <li data-v-cb558144>
          Dilarang untuk melakukan screenshot dan screen recording di halaman
          apapun pada aplikasi/website Layanan premium di Ngahiji.
        </li></ul></div> <div data-v-cb558144><h5 class="text-xl mb-2" data-v-cb558144>Pembayaran</h5> <div data-v-cb558144>
        Ngahiji menyediakan dua metode pembayaran yaitu pembayaran otomatis
        dan manual. Pada pembayaran otomatis tersedia pembayaran melalui QRIS,
        E-wallet, Retail dan Virtual Account. Virtual Account dan Retail hanya
        berlaku untuk durasi di atas 3 bulan berlangganan. Untuk pembayaran
        manual tersedia transfer bank ke Bank Mandiri, BCA dan Jenius atas nama
        PT. Ngahiji Teknologi. Dengan memilih pembayaran menggunakan
        metode manual, pengguna bersedia melakukan pembayaran dengan total
        nominal sesuai dengan pesanan yang dipesan ditambah 2 kode unik. Kode
        unik bertujuan untuk memudahkan sistem dalam mengolah transaksi. Dan
        dengan memilih pembayaran metode manual, pengguna setuju nominal 2 kode
        unik menjadi keuntungan Ngahiji.
      </div></div> <div data-v-cb558144><h5 class="text-xl mb-2 mt-3" data-v-cb558144>Perubahan Biaya Berlangganan</h5> <div data-v-cb558144>
        Perubahan biaya berlangganan bisa terjadi apabila provider tertentu
        melakukan perubahan harga berlangganan dari layanan yang mereka miliki.
        Perubahan harga yang terjadi mengakibatkan Ngahiji perlu menyesuaikan
        biaya berlangganan terbaru dari layanan provider terkait sesuai dengan
        jumlah member dalam satu grup. Informasi perubahan biaya berlangganan
        akan tersedia di skema harga dan disosialisasikan di media sosial
        Ngahiji. <br data-v-cb558144>
        Untuk customer yang sudah berlangganan lebih dari 1 bulan (3, 6 atau 12
        bulan) pada provider yang mengalami perubahan biaya berlangganan dimana
        ada sisa periode berlangganan yang terkena dampak perubahan harga, maka
        customer setuju untuk menerima penyesuaian biaya berlangganan yang baru
        dan melakukan pembayaran kembali ke Ngahiji sesuai dengan ketentuan
        waktu yang ditetapkan oleh Ngahiji. <br data-v-cb558144>
        Apabila customer menolak melakukan pembayaran sisa dari biaya
        berlangganan yang mengalami perubahan, maka layanan customer di
        Ngahiji akan dibatalkan dan biaya sisa periode berlangganan yang belum
        dinikmati akan dikembalikan (di-refund) secara pro rata.
      </div></div> <div data-v-cb558144><h5 class="text-xl mb-2 mt-3" data-v-cb558144>Pelanggaran Atas Hukum</h5> <div data-v-cb558144>
        Pihak Ngahiji berhak melakukan pelaporan hukum terhadap pihak yang
        dengan sengaja menyerang kehormatan atau nama baik Pihak Ngahiji
        dengan pasal pencemaran nama baik, penghinaan dan/atau fitnah di muka
        umum sesuai ketentuan undang-undang yang berlaku.
      </div></div> <div data-v-cb558144><h5 class="text-xl mb-2 mt-3" data-v-cb558144>Kompensasi</h5> <div data-v-cb558144>
        Kompensasi akan diberikan oleh pihak Ngahiji jika terjadi kerugian
        akibat kelalaian / kesalahan dari pelayanan Ngahiji. Besaran
        kompensasi diberikan sesuai justifikasi dan ketetapan dari Ngahiji.
      </div></div> <div data-v-cb558144><h5 class="text-xl mb-2 mt-3" data-v-cb558144>Kontak Kami</h5> <div data-v-cb558144>
        Anda dapat menghubungi Kami terkait dengan Kebijakan Privasi dan
        Ketentuan Penggunaan melalui surat elektronik cs@ngahiji.xyz.
      </div></div></div></div>
</div>

<%- include('layouts/footer') %>